<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'djangu/css/style.css' %}">
    <title>Djangu</title>
</head>
<body>
    <h1>Hello World!</h1>
</body>
</html>
